[Desktop Entry]
Type=Service
Name=Insync
Name[en_GB]=Insync
Name[nl]=Insync

X-KDE-ServiceTypes=FileViewVersionControlPlugin
MimeType=text/plain;
X-KDE-Library=dolphin-insync-plugin

