[Desktop Entry]
Type=Service
Name=Insync
X-KDE-ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;inode/directory;
X-KDE-Library=fileitemactioninsyncplugin
